# -- components --------------------------------------------------------------

# Font Awesome
route "/assets/components/fontawesome/fonts/**/*" do
  "/fonts/" + File.basename(item.identifier.to_s)
end

# Ignore everything not mentioned so far.
ignore "/assets/components/**/*"

# -- images ------------------------------------------------------------------

route "/assets/images/favicon.*" do
  "/" + File.basename(item.identifier.to_s)
end

route "/assets/images/**/*" do
  "/images/" + File.basename(item.identifier.to_s)
end

# -- JavaScript --------------------------------------------------------------

# Aggregated JavaScript.
compile "/assets/scripts/*.js.haml" do
  filter :haml
  write "/js/" + File.basename(item.identifier.without_ext)
end

# -- stylesheets -------------------------------------------------------------

# Ignore SCSS sources.
ignore "/assets/stylesheets/**/_*"

# SCSS.
compile "/assets/stylesheets/**/*" do
  filter :sass, Compass.sass_engine_options
  write "/css/" + File.basename(item.identifier.without_ext + ".css")
end

# -- copy as-is --------------------------------------------------------------

passthrough '/CNAME'
passthrough '/robots.txt'

# -- default rules -----------------------------------------------------------

compile "/**/*.haml" do
  filter :haml
  layout "/default.*"
end

compile "/**/*.html" do
  layout "/default.*"
end

compile "/**/*.md" do
  filter :kramdown
  layout "/default.*"
end

compile "/**/*" do
end

route "/**/*.{haml,html,md}" do
  if item.identifier =~ "/index.*"
    "/index.html"
  else
    item.identifier.without_ext + "/index.html"
  end
end

# -- layouts -----------------------------------------------------------------

layout "/**/*", :haml
